body {
    padding-top: 60px;
}
#container
{
    width: 100%;
    height: 300px;
    border: 2px solid black;
}
    #container img
    {
        position: static;
        float: left;
        height: 95%;
        width: 35%;
    }